/* =======================

FOOTER

======================== */

.footerContainer {
  position: relative;
  margin-top: 17rem;
}

.footer {
  background-color: var(--primary-dark-color);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footerText {
  font-size: 2rem;
  text-align: center;
  padding: 3rem 0;
  color: var(--primary-white-color);
}