/* ===================

GLOBAL STYLES

====================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-white-color: #fff;
  --primary-color: #22336f;
  --primary-dark-color: #121212;
  --primary-bg-color: #f2f2f3;
  --primary-blue-color: #2990f8;
  --dark-blue-color: #202c63;
  --primary-red-color: #ed1a33;
  --dark-red-color: #b00221;
  --pink-hover-color: #a7182b;
  --default-transition: all 0.3s 0s ease;
  --primary-box-shadow: .3rem .3rem .7rem .2rem rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
}

/* Typography */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  background-color: var(--primary-bg-color);
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1650px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 35%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 40%;
  }
}

