.red_loader {
  background-color: #f4f4f5;
}
.red_loader span {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  display: block;
  background: url(https://www.sports.info/small-loader-icon.42282aab78443f33b32b.svg)
    center center no-repeat;
  position: relative;
}
.red_loader span::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  border: 3px solid #ffffff;
  border-top-color: #ed1a33;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}