/* =========================

LOAD MORE BUTTON 

=========================== */

.loadMore__btnMainContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  transition: var(--default-transition);
  margin-top: 8rem;
}

.loadMore__btnContainer {
  display: flex;
  transition: var(--default-transition);
}

.loadMore__btnContainer:hover {
  box-shadow: var(--primary-box-shadow);
}

.loadMore__btn {
  border-radius: .5rem 0 0 .5rem;
  text-align: center;
  background-color: var(--primary-red-color);
  border: none;
  color: var(--primary-white-color);
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: var(--default-transition);
  cursor: pointer;
}
.loadMore__downArrowContainer {
  border-radius: 0 .5rem .5rem 0;
  padding: 1rem 3rem 1rem 1.5rem;
  background-color: var(--dark-red-color);
  transition: var(--default-transition);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.loadMore__downArrow {
  height: 1.5rem;
  position: absolute;
  transition: var(--default-transition);
  transform: rotate(90deg);
}

.firstDownArrow {
  transform: translateY(-5rem) rotate(90deg);
  z-index: 2;
}

.loadMore__btnContainer:hover .loadMore__downArrow {
  transform: translateY(5rem) rotate(90deg) ;
}

.loadMore__btnContainer:hover .firstDownArrow {
  transform: translateY(0rem) rotate(90deg) ;
}