/* =======================

NAVBAR

======================== */

.nav {
  background-color: var(--primary-color);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.navItems__container {
  display: flex;
  justify-content: space-between;
}

.navLogo {
  background-color: var(--primary-white-color);
  padding: .2rem 6.5rem;
  /* border-radius: 80% 20% 100% 0% / 0% 100% 0% 100%; */
  border-radius: 0 100rem 0 0;
  position: relative;
}

.navLogo::after {
  content: "";
  bottom: 0;
  position: absolute;
  border-bottom: 3.8rem solid var(--primary-white-color);
	border-right: 2rem solid var(--primary-color);
	width: 7.5rem;
}

.navSearch__icon {
  width: 3rem;
  align-self: center;
  margin-right: 6rem;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .navLogo {
    padding: .2rem 6rem;
  }
}

@media screen and (max-width: 750px) {
  .navLogo {
    padding: .2rem 5.5rem;
  }

  .navLogo img{
    width: 25rem;
  }
  .navSearch__icon {
    margin-right: 7rem;
  }
  .navSearch__icon img {
    width: 5rem;
  }
  .navLogo {
    padding: .2rem 5.5rem;
  }
  .navLogo::after {
    border-bottom: 5rem solid var(--primary-white-color);
    border-right: 3rem solid var(--primary-color);
    width: 6.9rem;
  }
}

@media screen and (max-width: 620px) {
  .navLogo {
    padding: .2rem 7.9rem;
  }
  .navLogo::after {
    width: 10rem;
  }
}

@media screen and (max-width: 750px) {
  .navLogo img{
    width: 15rem;
  }
  .navSearch__icon {
    margin-right: 3rem;
  }
  .navSearch__icon img {
    width: 3rem;
  }
  .navLogo {
    padding: .2rem 5rem;
  }
  .navLogo::after {
    border-bottom: 3rem solid var(--primary-white-color);
    border-right: 2.8rem solid var(--primary-color);
    width: 7rem;
  }
}

/* @media screen and (max-width: 510px) {
  .navLogo img{
    width: 20rem;
  }
  .navSearch__icon {
    margin-right: 7rem;
  }
  .navSearch__icon img {
    width: 5rem;
  }
  .navLogo {
    padding: .2rem 5.5rem;
  }
  .navLogo::after {
    border-bottom: 5rem solid var(--primary-white-color);
    border-right: 3rem solid var(--primary-color);
    width: 6.9rem;
  }
} */

