/* =======================

INFO HERO

======================== */

.sportInfoHeader {
  height: 70vh;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(139, 194, 216, 0.0), rgba(30, 23, 134, 0.7)), url("../assets/cricketers-img.jpeg");
  color: var(--primary-white-color);
}

.sportInfoTitle {
  position: absolute;
  width: 55vw;
  bottom: 7rem;
  left: 20%;
  font-size: 4.6rem;
  line-height: 1.2;
  transition: var(--default-transition);
}

.sportInfoHeader__footerContainer {
  position: absolute;
  left: 20%;
  bottom: 3rem;
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.sportInfoHeader__footerLink {
  font-size: 1.5rem;
  color: var(--primary-white-color);
  padding-bottom: .3rem;
  margin-right: 1rem;
  /* transition: all 0.5s 0s ease; */
}
.sportInfoHeader__footerLink:hover {
  border-bottom: 2px solid var(--primary-white-color);
}

.sportInfoHeader__footerCommentViewContainer {
  display: flex;
}

.sportInfoHeader__footerCommentIcon {
  width: 2.5rem;
}

.sportInfoHeader__footerEyeIcon {
  width: 2.5rem;
  margin-left: 1rem;
}

.sportInfoHeader__footerContainer span {
  font-size: 1.5rem;
  margin-left: .5rem;
}

/* =======================

INFO BODY

======================== */

/* .info-body__container {
  width: 100vw;
} */

.infoBody__textContainer {
  width: 60vw;
  margin: 6rem auto;
  font-size: 2rem;
}

.infoBody__text br {
  margin-bottom: 10rem;
}

/* TABLE */
.individualScore__table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.individualScore__table td, 
.individualScore__table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.individualScore__table th {
  background-color: #888;
  color: var(--primary-white-color);
}

.individualScore__table tr:nth-child(even) {
  background-color: #dddddd;
}