/* =======================

SPORTS CARDS

======================== */


.sportsCard__container {
  width: 60vw;
  background-color: var(--primary-white-color);
  margin: 3rem auto;
  display: flex;
  padding: 2rem;
  border-radius: .5rem;
}

.sportsCard__imageContainer { 
  background-position: top;
  position: relative; 
  clip-path: polygon(0 0, 40rem 0, 40rem 18rem, 33rem 24rem, 0rem 24rem);
}

.sportsCard__image {
  width: 40rem;
  height: 24rem;
  object-fit: cover;
  transition: var(--default-transition);
}

.sportsCard__image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.sportsCard__bodyContainer {
  margin-left: 2rem;
  position: relative;
}

.sportsCard__bodyTextContainer h3 {
  font-size: 2.2rem;
  line-height: 1.3;
  transition: all .5s 0s ease;
  font-weight: 500;
}

.sportsCard__bodyTextContainer h3:hover {
  color: var(--pink-hover-color);
  cursor: pointer;
}

.sportsCard__bodyTextContainer p {
  font-size: 1.6rem;
  margin-top: 2rem;
  line-height: 1.2;
  font-weight: 200;
}

.sportsCard__bodyFooterContainer {
  position: absolute;
  bottom: .5rem;
  display: flex;
  justify-content: space-between;
  width: 35vw;
}

.sportsCard__bodyFooterLink {
  font-size: 1.7rem;
  color: var(--primary-blue-color);
  transition: var(--default-transition);
}
.sportsCard__bodyFooterLink:hover {
  color: var(--dark-blue-color);
}

.sportsCard__bodyFooterCommentViewContainer {
  display: flex;
}

.sportsCard__bodyFooterCommentIcon {
  width: 2.5rem;
}

.sportsCard__bodyFooterEyeIcon {
  width: 2.5rem;
  margin-left: 1.5rem;
}

.sportsCard__bodyFooterContainer span {
  font-size: 1.7rem;
  margin-left: .5rem;
}

@media screen and (max-width: 1900px) {
  .sportsCard__container {
    width: 75vw;
  }
  .sportsCard__bodyFooterContainer {
    width: 45vw;
  }
}

@media screen and (max-width: 1650px) {
  .sportsCard__container {
    width: 70vw;
  }
  .sportsCard__bodyFooterContainer {
    width: 40vw;
  }
}

@media screen and (max-width: 1400px) {
  .sportsCard__container {
    width: 85vw;
  }
  .sportsCard__bodyFooterContainer {
    width: 50vw;
  }
}
@media screen and (max-width: 1150px) {
  .sportsCard__container {
    width: 95vw;
  }
  .sportsCard__bodyFooterContainer {
    width: 50vw;
  }
}

@media screen and (max-width: 750px) {
  .sportsCard__container {
    width: 80vw;
    height: 75vh;
    flex-direction: column;
    padding: 3rem;
  }
  .sportsCard__imageContainer { 
    clip-path: polygon(0 0, 73vw 0, 73vw 25rem, 35rem 70rem, 0rem 100rem);
  }
  
  .sportsCard__image {
    width: 73vw;
    height: 35vh;
  }
  .sportsCard__bodyContainer {
    height: 50vh;
  }
  .sportsCard__bodyTextContainer h3 {
    margin-top: 2rem;
  }
  .sportsCard__bodyFooterContainer {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .sportsCard__container {
    width: 86vw;
    height: 85vh;
    padding: 2rem;
  }
  .sportsCard__imageContainer { 
    clip-path: polygon(0 0, 78vw 0, 78vw 20rem, 25rem 70rem, 0rem 100rem);
  }
  
  .sportsCard__image {
    width: 80vw;
    height: 35vh;
  }
  .sportsCard__bodyFooterContainer {
    width: 65vw;
  }
}

@media screen and (max-width: 450px) {
  .sportsCard__container {
    width: 95vw;
    height: 90vh;
    padding: 1rem;
  }
  .sportsCard__imageContainer { 
    clip-path: polygon(0 0, 90vw 0, 90vw 25rem, 25rem 70rem, 0rem 100rem);
  }
  
  .sportsCard__image {
    width: 90vw;
    height: 35vh;
  }
  .sportsCard__bodyFooterContainer {
    width: 80vw;
  }
}

@media screen and (max-width: 350px) {
  .sportsCard__container {
    height: 90vh;
  }
  .sportsCard__imageContainer { 
    clip-path: none;
  }
  .sportsCard__bodyContainer {
    height: 70vh;
  }
  .sportsCard__bodyFooterContainer {
    flex-direction: column;
    align-items: center;
  }
}